<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.podcastpedia.web.userinteraction.emailsubscription.EmailSubscriptionDao">

	<!--    result maps     -->
	<resultMap id="emailSubscriberMap" type="EmailSubscriber" >
	    <id column="email" property="email"  />
		<collection property="subscribedPodcastIds" ofType="Integer">
			<association property="podcastId" column="podcast_id" javaType="Integer"/>
		</collection>	      
	</resultMap> 
	
	<select id="selectEmailSubscriberByEmail" resultMap="emailSubscriberMap" parameterType="String">
		SELECT
			u.email, pes.podcast_id 
		FROM
			users u
			LEFT OUTER JOIN podcasts_email_subscribers pes on BINARY u.email = pes.email
		WHERE
			u.email=#{email}
		AND
			u.is_email_subscriber=1			
	</select>  	
    <insert id="addEmailSubscriberToUsers" parameterType="String" >
		INSERT into users 
			(
				username,
				email,
				is_email_subscriber					
			)
	    VALUES
	      	(
				#{email},
				#{email},
				1
	      	)
  	</insert>	
	     	  	
    <insert id="addPodcastEmailSubscription" parameterType="map">
		INSERT into podcasts_email_subscribers 
			(
				podcast_id,
				email					
			)
	    VALUES
	      	(
				#{podcastId},
				#{email}
	      	)
  	</insert>	
  		     	  		     	  
</mapper>