
#Eclipse related
.settings
.project

#Intellij related
**/*.iml
.idea

#Exclude target folders
**/target/

#web-ui module
web-ui/src/main/webapp/static/node_modules
web-ui/src/main/webapp/META-INF/context-dev-gmail-personal.xml
web-ui/src/main/webapp/META-INF/context-prod.xml
web-ui/src/main/webapp/META-INF/context-prod-tunnel.xml
