<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.podcastpedia.web.startpage.StartPageDao">
	
	<!--    result maps     -->
	<resultMap id="podcastsMap" type="Podcast" >
	    <id column="podcast_id" property="podcastId"  />
	    <result column="url" property="url" />
	    <result column="identifier" property="identifier" />
	    <result column="rating" property="rating" />
	    <result column="numberRatings" property="number_ratings" />
	    <result column="number_visitors" property="numberOfVisitors" />	     
	    <result column="DESCRIPTION" property="description" />	   
	    <result column="PODCAST_IMAGE_URL" property="urlOfImageToDisplay" />	   
	    <result column="TITLE" property="title" />	    	
	    <result column="last_episode_url" property="lastEpisodeMediaUrl" />   	    
	    <result column="title_in_url" property="titleInUrl" />  
	    <result column="publication_date" property="publicationDate"/>
	</resultMap>   
 
  <select id="getLastUpdatedPodcasts" resultMap="podcastsMap" parameterType="Integer" useCache="false">
    SELECT
    	PODCAST_ID,
    	URL,
    	identifier,
    	NUMBER_VISITORS,
    	DESCRIPTION,
    	PODCAST_IMAGE_URL,
    	TITLE,
    	last_episode_url,
    	title_in_url,
    	publication_date      	
    FROM
    	podcasts
    WHERE
    	availability=200    	
    ORDER BY publication_date DESC
    	limit 0, #{value};
  </select>
  
  <select id="getNewEntries" resultMap="podcastsMap" parameterType="Integer" useCache="false">
    SELECT
    	PODCAST_ID,
    	URL,
    	identifier,
    	NUMBER_VISITORS,
    	DESCRIPTION,
    	PODCAST_IMAGE_URL,
    	TITLE,
    	last_episode_url,
    	title_in_url,
    	publication_date      	
    FROM
    	podcasts
    WHERE
    	availability=200    	
    ORDER BY insertion_date DESC
    	limit 0, #{value};
  </select>  
    
  <select id="getLastUpdatedPodcastsWithLanguage" resultMap="podcastsMap" parameterType="map" useCache="false">
    SELECT
    	PODCAST_ID,
    	URL,
    	identifier,
    	NUMBER_VISITORS,
    	DESCRIPTION,
    	PODCAST_IMAGE_URL,
    	TITLE,
    	last_episode_url,
    	title_in_url,
    	publication_date      	
    FROM
    	podcasts
    WHERE
    	availability=200
    	and
    	language_code= #{lang}    	
    ORDER BY publication_date DESC
    	limit 0, #{limit}
  </select> 

  <select id="getRecommendedPodcasts" resultMap="podcastsMap" parameterType="Integer" useCache="false">
    SELECT
    	p.PODCAST_ID,
    	p.URL,
    	p.identifier,
    	p.NUMBER_VISITORS,
    	p.DESCRIPTION,
    	p.PODCAST_IMAGE_URL,
    	p.TITLE,
    	last_episode_url,
    	p.title_in_url,
    	publication_date    	
    FROM
    	podcasts p,
    	conf_recommended_podcasts rp
    WHERE
    	p.availability = 200
    	AND
    	p.podcast_id = rp.podcast_id 
    ORDER BY rating DESC
    	limit 0, #{value};
  </select>

    
  <select id="getRandomPodcasts" resultMap="podcastsMap" parameterType="Integer" useCache="false">
    SELECT
    	p.PODCAST_ID,
    	p.URL,
    	p.identifier,
    	p.NUMBER_VISITORS,
    	p.DESCRIPTION,
    	p.PODCAST_IMAGE_URL,
    	p.TITLE,
    	p.last_episode_url,
    	p.title_in_url,
    	p.publication_date
    FROM
    	podcasts p
    WHERE
    	availability=200    	
    ORDER BY rand()
    	limit 0, #{value};
  </select>     
</mapper>