#ignore eclipse related files
.classpath
.project

#ignore target directory
target

#ignore js related resources
src/main/webapp/static/node_modules
src/main/webapp/static/target

#ignore log4j configuration for prod
src/main/resources/log4j/log4j.prod.xml