.share_buttons {
  height: 21px;
  padding-bottom:18px;
}
.fb_like,.twitter_share,.google_share {
  float:left;
  margin-right:5px; 
}
.social_media_share {
  margin:10px 5px 10px 5px;
}
.twitter_share{
  width: 80px;
}

/* fixing */
.shown {
	margin-bottom:35px;
}
