<html>
	<body>
		#if( $XHTML )
		  #set( $br = "<br />" )
		#else
		  #set( $br = "<br>" )
		#end	
		<p>
			Dear ${name},
			$br
			Thank you very much for your suggestion. Your podcast has been added to the directory:
			$br
			<a href="${podcastUrl}">${podcastUrl}</a>
		</p>
		<p>
			Best regards,
			<br>
			Adrian
		</p>
		<p>
			Thank you for sharing and connecting with us
			<a href="https://www.facebook.com/Podcastpedia">
				<img height="28" width="28" src="cid:${fb_logo}">
			</a>
			<a href="https://twitter.com/podcastpedia">
				<img height="28" width="28" src="cid:${twitter_logo}">
			</a>
			<a href="https://google.com/+PodcastpediaOrg ">
				<img height="28" width="28" src="cid:${gplus_logo}">
			</a>									  
		</p>  
	</body>

</html>