#footer_wrapper {
  max-width: 1050px;
  min-width: 300px;
  background: #E5E5E5;
  border: 5px #FFF solid;
  margin: 0 auto;
}

#footer {
  text-align: center;
}

#footer_copyright {
  margin-top: 10px;
  text-align: center;
}