<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.podcastpedia.core.user.UserDao">

  <resultMap id="userResultMap" type="User">
    <id column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="enabled" property="enabled"/>
    <result column="display_name" property="displayName"/>
    <result column="registration_date" property="registrationDate"/>
    <result column="registration_token" property="registrationToken"/>
  </resultMap>

  <insert id="addUser" parameterType="User" >
    INSERT into users
    (
      username,
      password,
      display_name,
      enabled,
      registration_date,
      registration_token
    )
    VALUES
    (
      #{username},
      #{password},
      #{displayName},
      #{enabled},
      #{registrationDate},
      #{registrationToken}
    )
  </insert>

  <insert id="addUserRole" parameterType="User">
    INSERT into authorities
    (
      username,
      authority
    )
    VALUES
    (
      #{username},
      #{role}
    )
  </insert>
  <update id="enableUser" parameterType="User">
    UPDATE users SET
      enabled = #{enabled}
    WHERE username = #{username}
    AND registration_token = #{registrationToken}
  </update>

  <!-- ******* Reset User Password ********* -->
  <update id="updateUserForPasswordReset" parameterType="User">
    UPDATE users SET
      password = #{password},
      enabled = #{enabled},
      registration_token = #{registrationToken}
    WHERE username = #{username}
  </update>
  <update id="resetUserPassword" parameterType="User">
    UPDATE users SET
      enabled = #{enabled},
      password = #{password}
    WHERE
      username = #{username}
    AND
      registration_token = #{registrationToken}
  </update>

  <insert id="subscribeToPodcast" parameterType="java.util.Map" >
    INSERT into subscriptions
    (
      email,
      podcast_id,
      subscription_date,
      playlist
    )
    VALUES
    (
      #{email},
      #{podcastId},
      CURRENT_TIMESTAMP,
      #{playlist}
    ) ON DUPLICATE KEY UPDATE
    subscription_date=values(subscription_date),
    playlist=values(playlist)
  </insert>
  <delete id="unsubscribeFromPodcast" parameterType="java.util.Map" >
    DELETE FROM subscriptions
    WHERE
      email=#{userId}
    AND
      podcast_id=#{podcastId}
  </delete>

  <select id="getUserByUsername" resultMap="userResultMap" parameterType="String">
    SELECT
      username,
      password,
      display_name,
      enabled,
      registration_date
    FROM
      users
    WHERE
      username = #{value}
  </select>

  <!-- user votes section -->
  <resultMap id="podcastVoteResultMap" type="PodcastVote">
    <result column="username" property="username"/>
    <result column="vote" property="vote"/>
    <result column="podcast_id" property="podcastId"/>
    <result column="created_on" property="createdOn"/>
  </resultMap>
  <insert id="addPodcastVote" parameterType="PodcastVote" >
    INSERT into podcasts_votes
    (
      username,
      vote,
      podcast_id,
      voted_on
    )
    VALUES
    (
      #{username},
      #{vote},
      #{podcastId},
      CURRENT_TIMESTAMP
    ) ON DUPLICATE KEY
    UPDATE
      voted_on=values(voted_on),
      vote=values(vote);
  </insert>

  <resultMap id="episodeVoteResultMap" type="EpisodeVote">
    <result column="username" property="username"/>
    <result column="vote" property="vote"/>
    <result column="podcast_id" property="podcastId"/>
    <result column="episode_id" property="episodeId"/>
    <result column="created_on" property="createdOn"/>
  </resultMap>
  <insert id="addEpisodeVote" parameterType="EpisodeVote" >
    INSERT into podcasts_votes
    (
      username,
      vote,
      podcast_id,
      episode_id,
      voted_on
    )
    VALUES
    (
      #{username},
      #{vote},
      #{podcastId},
      #{episodeId},
    CURRENT_TIMESTAMP
    ) ON DUPLICATE KEY
    UPDATE
    voted_on=values(voted_on),
    vote=values(vote);
  </insert>

  <resultMap id="podcastsFound" type="Podcast" >
    <id column="podcast_id" property="podcastId"  />
    <result column="category_id" property="categoryId" />
    <result column="url" property="url" />
    <result column="identifier" property="identifier" />
    <result column="podcast_number_ratings" property="numberRatings" />
    <result column="number_visitors" property="numberOfVisitors" />
    <result column="DESCRIPTION" property="description" />
    <result column="PODCAST_IMAGE_URL" property="urlOfImageToDisplay" />
    <result column="TITLE" property="title" />
    <result column="last_episode_url" property="lastEpisodeMediaUrl" />
    <result column="title_in_url" property="titleInUrl" />
    <result column="publication_date" property="publicationDate"/>
    <result column="media_type" property="mediaType"/>
    <collection property="episodes" ofType="Episode">
      <result property="description" column="episode_description"/>
      <result property="podcastId" column="podcast_id"/>
      <result property="link" column="episode_link"/>
      <result property="mediaUrl" column="episode_media_url"/>
      <result property="mediaType" column="episode_media_type"/>
      <result property="title" column="episode_title"/>
      <result property="episodeId" column="episode_id"/>
      <result column="episode_pub_date" property="publicationDate" />
      <result column="episode_title_in_url" property="titleInUrl" />
      <result column="is_new" property="isNew"/>
      <association property="podcastId" column="podcast_id" javaType="Podcast"/>
    </collection>
	</resultMap>

  <select id="getSubscriptions" resultMap="podcastsFound" parameterType="String">
    SELECT
    	p.PODCAST_ID,
    	p.URL,
    	p.identifier,
    	p.NUMBER_VISITORS,
    	p.DESCRIPTION,
    	p.PODCAST_IMAGE_URL,
    	p.TITLE,
    	p.last_episode_url,
    	p.title_in_url,
    	p.publication_date,
    	p.media_type,
      e.description as episode_description,
      e.link as episode_link,
      e.media_url as episode_media_url,
      e.media_type as episode_media_type,
      e.title as episode_title,
      e.episode_id,
      e.publication_date as episode_pub_date,
      e.title_in_url as episode_title_in_url,
      e.is_new
    FROM
    	podcasts p, subscriptions s, episodes e
	  WHERE
		  s.email = #{userId}
		AND
		  s.podcast_id= p.podcast_id
		AND
		  p.podcast_id = e.podcast_id
		AND
    	p.availability=200
    AND
      e.availability = 200
    ORDER BY
    	p.publication_date DESC, e.publication_date DESC
  </select>
  <select id="getPlaylistsForUser" resultType="String" parameterType="String">
    SELECT
      s.playlist
    FROM
      subscriptions s
    WHERE
      s.email=#{userId}
  </select>
  <select id="getPodcastsForPlaylist" resultMap="podcastsFound" parameterType="java.util.Map">
    SELECT
    p.PODCAST_ID,
    p.URL,
    p.identifier,
    p.NUMBER_VISITORS,
    p.DESCRIPTION,
    p.PODCAST_IMAGE_URL,
    p.TITLE,
    p.last_episode_url,
    p.title_in_url,
    p.publication_date,
    p.media_type,
    e.description as episode_description,
    e.link as episode_link,
    e.media_url as episode_media_url,
    e.media_type as episode_media_type,
    e.title as episode_title,
    e.episode_id,
    e.publication_date as episode_pub_date,
    e.title_in_url as episode_title_in_url,
    e.is_new
    FROM
    podcasts p, subscriptions s, episodes e
    WHERE
    s.email = #{userId}
    AND
    s.playlist= #{playlist}
    AND
    s.podcast_id= p.podcast_id
    AND
    p.podcast_id = e.podcast_id
    AND
    p.availability=200
    AND
    e.availability = 200
    ORDER BY
    p.publication_date DESC, e.publication_date DESC
  </select>


 	<resultMap id="episodesFound" type="Episode" >
    <id column="podcast_id" property="podcastId"  />
    <id column="episode_id" property="episodeId" />
    <result column="title" property="title" />
		<result column="description" property="description" />
    <result column="podcast_title" property="podcast.title" />
    <result column="link" property="link" />
    <result column="podcast_image_url" property="podcast.urlOfImageToDisplay" />
    <result column="media_url" property="mediaUrl" />
    <result column="episode_pub_date" property="publicationDate" />
    <result column="episode_title_in_url" property="titleInUrl" />
    <result column="podcast_title_in_url" property="podcast.titleInUrl" />
    <result column="episode_rating" property="rating" />
    <result column="episode_number_ratings" property="numberRatings" />
    <result column="media_type" property="mediaType"/>
    <result column="is_new" property="isNew"/>
    <result column="length" property="length"/>
    <result column="enclosure_type" property="enclosureType"/>
	</resultMap>

  <select id="getLatestEpisodesFromSubscriptions" resultMap="episodesFound" parameterType="String">
    SELECT
      e.podcast_id,
      e.episode_id,
      e.title as title,
      e.description,
      e.link,
      e.media_url,
      e.publication_date as episode_pub_date,
      e.title_in_url as episode_title_in_url,
      e.media_type,
      e.is_new,
      e.length,
      e.enclosure_type,
      p.title as podcast_title,
      p.podcast_image_url,
      p.title_in_url as podcast_title_in_url
    FROM
    	episodes e,
    	podcasts p,
    	subscriptions s,
    	users u
    WHERE
      u.username = #{value}
    AND
      s.email = #{value}
    AND
      s.podcast_id= p.podcast_id
    AND
      e.podcast_id = p.podcast_id
    AND
      e.availability=200
    AND
      e.is_new = 1
    AND
      p.availability=200
    ORDER BY
      e.publication_date DESC
  </select>

</mapper>
