<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.podcastpedia.core.user.UserDao">

  <resultMap id="userResultMap" type="User">
    <id column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="enabled" property="enabled"/>
    <result column="display_name" property="displayName"/>
    <result column="registration_date" property="registrationDate"/>
  </resultMap>

  <insert id="addUser" parameterType="User" >
    INSERT into users
    (
      username,
      password,
      display_name,
      enabled,
      registration_date
    )
    VALUES
    (
      #{username},
      #{password},
      #{displayName},
      #{enabled},
      #{registrationDate}
    )
  </insert>

  <insert id="subscribeToPodcast" parameterType="java.util.Map" >
    INSERT into subscriptions
    (
      email,
      podcast_id,
      subscription_date
    )
    VALUES
    (
      #{email},
      #{podcastId},
      CURRENT_TIMESTAMP
    ) ON DUPLICATE KEY UPDATE
    subscription_date=values(subscription_date)
  </insert>

  <select id="selectUserByUsername" resultMap="userResultMap" parameterType="String">
    SELECT
      username,
      password,
      display_name,
      enabled,
      registration_date
    FROM
      users
    WHERE
      username = #{value}
  </select>

  <resultMap id="podcastsFound" type="Podcast" >
    <id column="podcast_id" property="podcastId"  />
    <result column="category_id" property="categoryId" />
    <result column="url" property="url" />
    <result column="identifier" property="identifier" />
    <result column="podcast_rating" property="rating" />
    <result column="podcast_number_ratings" property="numberRatings" />
    <result column="number_visitors" property="numberOfVisitors" />
    <result column="DESCRIPTION" property="description" />
    <result column="PODCAST_IMAGE_URL" property="urlOfImageToDisplay" />
    <result column="TITLE" property="title" />
    <result column="last_episode_url" property="lastEpisodeMediaUrl" />
    <result column="title_in_url" property="titleInUrl" />
    <result column="publication_date" property="publicationDate"/>
    <result column="media_type" property="mediaType"/>
	</resultMap>

  <select id="getSubscriptions" resultMap="podcastsFound" parameterType="String">
    SELECT
    	p.PODCAST_ID,
    	p.URL,
    	p.identifier,
    	p.NUMBER_VISITORS,
    	p.DESCRIPTION,
    	p.PODCAST_IMAGE_URL,
    	p.TITLE,
    	p.last_episode_url,
    	p.title_in_url,
    	p.publication_date,
    	p.media_type
    FROM
    	podcasts p, subscriptions s, users u
	  WHERE
		  u.username = #{value}
		AND
		  s.email = #{value}
		AND
		  s.podcast_id= p.podcast_id
		AND
    	p.availability=200
    ORDER BY
    	p.publication_date DESC
  </select>

 	<resultMap id="episodesFound" type="Episode" >
    <id column="podcast_id" property="podcastId"  />
    <id column="episode_id" property="episodeId" />
    <result column="title" property="title" />
		<result column="description" property="description" />
    <result column="podcast_title" property="podcast.title" />
    <result column="link" property="link" />
    <result column="podcast_image_url" property="podcast.urlOfImageToDisplay" />
    <result column="media_url" property="mediaUrl" />
    <result column="episode_pub_date" property="publicationDate" />
    <result column="episode_title_in_url" property="titleInUrl" />
    <result column="podcast_title_in_url" property="podcast.titleInUrl" />
    <result column="episode_rating" property="rating" />
    <result column="episode_number_ratings" property="numberRatings" />
    <result column="media_type" property="mediaType"/>
    <result column="is_new" property="isNew"/>
    <result column="length" property="length"/>
    <result column="enclosure_type" property="enclosureType"/>
	</resultMap>

  <select id="getLatestEpisodesFromSubscriptions" resultMap="episodesFound" parameterType="String">
    SELECT
      e.podcast_id,
      e.episode_id,
      e.title as title,
      e.description,
      e.link,
      e.media_url,
      e.publication_date as episode_pub_date,
      e.title_in_url as episode_title_in_url,
      e.media_type,
      e.is_new,
      e.length,
      e.enclosure_type,
      p.title as podcast_title,
      p.podcast_image_url,
      p.title_in_url as podcast_title_in_url
    FROM
    	episodes e,
    	podcasts p,
    	subscriptions s,
    	users u
    WHERE
      u.username = #{value}
    AND
      s.email = #{value}
    AND
      s.podcast_id= p.podcast_id
    AND
      e.podcast_id = p.podcast_id
    AND
      e.availability=200
    AND
      e.is_new = 1
    AND
      p.availability=200
    ORDER BY
      e.publication_date DESC
  </select>

</mapper>
