<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.podcastpedia.core.userinteraction.UserInteractionDao">

    <insert id="insertSuggestedPodcast" parameterType="SuggestedPodcast" >
		INSERT into ui_suggested_podcasts 
			(
				feed_url, 
				metadata_line,
				insertion_date,
				message,
				email,
				name							
			)
	    VALUES
	      	(
	      		#{feedUrl}, 
	      		#{metadataLine},  
	      		#{insertionDate},
	      		#{message},
	      		#{email},
	      		#{name}
	      	)
  	</insert>
  	
    <insert id="insertContactMessage" parameterType="ContactForm" >
		INSERT into ui_contact_messages 
			(
				name, 
				email, 
				message, 
				topic,
				submission_date								
			)
	    VALUES
	      	(
	      		#{name}, 
	      		#{email}, 
	      		#{message}, 
	      		#{topic},
	      		#{submissionDate}
	      	)
  	</insert>

</mapper>