<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.podcastpedia.web.episodes.EpisodeDao"> 
  
	<resultMap id="episodeResultMap" type="Episode" >
	    <id column="podcast_id" property="podcastId"  />
	    <id column="episode_id" property="episodeId"  />
		<result property="description" column="episode_description"/>
		<result property="podcastId" column="podcast_id"/>
		<result property="link" column="episode_link"/>
		<result property="mediaUrl" column="episode_media_url"/>
		<result property="mediaType" column="episode_media_type"/>
		<result property="title" column="episode_title"/>
		<result property="episodeId" column="episode_id"/>
		<result column="episode_pub_date" property="publicationDate" />  	
		<result column="episode_title_in_url" property="titleInUrl" />
	    <result column="episode_rating" property="rating" />
	    <result column="episode_number_ratings" property="numberRatings" />
		<result column="is_new" property="isNew" />
   	    <result column="length" property="length"/>   
   	    <result column="enclosure_type" property="enclosureType"/>	    
		<result column="podcast_title_in_url" property="podcast.titleInUrl" />
		<result column="podcast_url" property="podcast.url" />
		<result column="podcast_image_url" property="podcast.urlOfImageToDisplay" />
		<result column="podcast_title" property="podcast.title" />	
		<result column="podcast_link" property="podcast.link" />			
		<result column="social_fb_page" property="podcast.fbPage" />
		<result column="social_twitter_page" property="podcast.twitterPage" />
		<result column="social_gplus_page" property="podcast.gplusPage" />					  
   	    <result column="podcast_identifier" property="podcast.identifier"/>  		
	</resultMap>
	
	<select id="getEpisodeById" parameterType="java.util.Map" resultMap="episodeResultMap">
	  SELECT
		e.podcast_id,
		e.episode_id,
	    e.description as episode_description,
	    e.link as episode_link,
	    e.media_url as episode_media_url,
	    e.media_type as episode_media_type, 
	    e.title as episode_title,
	    e.publication_date as episode_pub_date,
	    e.title_in_url as episode_title_in_url,
	    e.is_new,
	    p.title_in_url as podcast_title_in_url,
	    p.url as podcast_url,
	    p.podcast_image_url,
	    p.title as podcast_title,
	    p.identifier as podcast_identifier,
	    p.podcast_link as podcast_link,
	  	p.social_fb_page,
	  	p.social_twitter_page,
	  	p.social_gplus_page        		
	  FROM episodes e, podcasts p 	
	  WHERE
		e.podcast_id = #{podcastId}
	  AND
		e.episode_id = #{episodeId} 
	  AND
		e.podcast_id=p.podcast_id
	  AND
		e.availability = 200
	  AND
	    p.availability = 200
	</select>	
	
  <select id="getEpisodesForPodcastId" parameterType="java.util.Map" resultMap="episodeResultMap">
    SELECT
		e.podcast_id,
		e.episode_id,
        e.description as episode_description,
        e.link as episode_link,
        e.media_url as episode_media_url,
        e.media_type as episode_media_type, 
      	e.title as episode_title,
      	e.publication_date as episode_pub_date,	
      	e.title_in_url as episode_title_in_url,
      	e.is_new,
	    p.title_in_url as podcast_title_in_url,
	    p.url as podcast_url,
	    p.podcast_image_url,
	    p.title as podcast_title,
	    p.identifier as podcast_identifier,
	    p.podcast_link as podcast_link,
	  	p.social_fb_page,
	  	p.social_twitter_page,
	  	p.social_gplus_page   
   	FROM episodes e, podcasts p 	
    WHERE
      e.podcast_id = #{podcastId}
	  AND
	  e.podcast_id=p.podcast_id
      AND 
      e.availability = 200
      ORDER BY 
      e.publication_date DESC 
      <if test="count != null">
		<choose>
			<when test="offset != null">
				LIMIT #{offset}, #{count}	
			</when>
			<otherwise>
				LIMIT #{count}
			</otherwise>
		</choose>            	
      </if>      
  </select> 

  <select id="getEpisodesForPodcastName" parameterType="map" resultMap="episodeResultMap">
    SELECT
		e.podcast_id,
		e.episode_id,
        e.description as episode_description,
        e.link as episode_link,
        e.media_url as episode_media_url,
        e.media_type as episode_media_type, 
      	e.title as episode_title,
      	e.publication_date as episode_pub_date,
      	e.title_in_url as episode_title_in_url,
      	e.is_new,
	    p.title_in_url as podcast_title_in_url,
	    p.url as podcast_url,
	    p.podcast_image_url,
	    p.title as podcast_title,
	    p.identifier as podcast_identifier,
	    p.podcast_link as podcast_link,
	  	p.social_fb_page,
	  	p.social_twitter_page,
	  	p.social_gplus_page         	   	
   	FROM 
   		episodes e, podcasts p 	
    WHERE
    	e.podcast_id = p.podcast_id    	
    AND 
    	p.identifier = #{name}
    AND
    	e.availability = 200 
    ORDER BY
    	e.publication_date DESC
      <if test="count != null">
		<choose>
			<when test="offset != null">
				LIMIT #{offset}, #{count}	
			</when>
			<otherwise>
				LIMIT #{count}
			</otherwise>
		</choose>            	
      </if>  
  </select>       
  
</mapper>