<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:tx="http://www.springframework.org/schema/tx"
	    xmlns:mvc="http://www.springframework.org/schema/mvc"
	    xmlns:cache="http://www.springframework.org/schema/cache"
	    xsi:schemaLocation="
 
			http://www.springframework.org/schema/beans	 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			 
			http://www.springframework.org/schema/mvc	 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd

			
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			
			http://www.springframework.org/schema/cache
			http://www.springframework.org/schema/cache/spring-cache.xsd">
 
	<!-- services configuration -->
 	<import resource="applicationContext-core-service.xml"/>
 	<!-- DAOs configuration -->
	<import resource="applicationContext-core-dao.xml"/>
	<import resource="classpath:spring/applicationContext-common.xml" />

	<!--
		- The controllers are autodetected POJOs labeled with the @Controller annotation.
	-->
	<context:component-scan base-package="org.podcastpedia.core.*"/>
	
	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven/>
	
	<cache:annotation-driven key-generator="enhancedDefaultKeyGenerator"/>
	<bean id ="enhancedDefaultKeyGenerator" class="org.podcastpedia.core.caching.EnhancedDefaultKeyGenerator"/>
	 
	<!--
		Instruct Spring to perform declarative transaction management
		automatically on annotated classes.
	-->	
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- *******************************
	     ***** CACHE CONFIGURATION *****
		 ******************************* -->				
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    	<property name="cacheManager" ref="ehcache"/>
    </bean>
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    	<property name="configLocation" value="classpath:config/ehcache.xml"/>
    	<property name="shared" value="true"/>
    </bean>    

   <bean id="emailNotificationServiceSuggestPodcast" class="org.podcastpedia.core.suggestpodcast.EmailNotificationServiceImpl">
      <property name="mailSender" ref="mailSender"/>
      <property name="velocityEngine" ref="velocityEngine"/>
   </bean>    

   <bean id="emailNotificationServiceContact" class="org.podcastpedia.core.contact.EmailNotificationServiceImpl">
      <property name="mailSender" ref="mailSender"/>
      <property name="velocityEngine" ref="velocityEngine"/>
   </bean>    
   
</beans>
