<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for PetClinic Datasource.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- ========================= DATASOURCE DEFINITION via JNDI ========================= -->
  <!-- When resourceRef is true, the value of jndiName will be prepended with
	server’s JNDI directory. Consequently, the actual name used will be
	java:comp/env/jdbc/podcast_db.  -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
		<property name="jndiName" value="java:/jboss/datasources/podcast_db" />
		<property name="resourceRef" value="true" />
	</bean>

</beans>
