<html>
    <body>
        <h3>Bonjour ${user.displayName}</h3>
        <p>
            Merci de votre inscription avec Podcastpedia.
            Cliquez sur <a href="http://www.podcastpedia.org/users/registration/confirmed?user=${user.username}&token=${user.registrationToken}">ce lien</a> pour terminer le processus d'inscription.
        </p>
        <p style="margin-top:21px">
            Podcastpedia.org - the open source podcast directory
            <br>
            <a href="https://www.facebook.com/Podcastpedia" style="text-decoration: none">
                <img height="21" width="21" src="http://www.podcastpedia.org/static/images/logos/fb_51.png" style="margin-right:5px;margin-top:3px">
            </a>
            <a href="https://twitter.com/podcastpedia" style="text-decoration: none">
                <img height="21" width="21" src="http://www.podcastpedia.org/static/images/logos/twitter_51.png" style="margin-right:5px;margin-top:3px">
            </a>
            <a href="https://google.com/+PodcastpediaOrg " style="text-decoration: none">
                <img height="21" width="21" src="http://www.podcastpedia.org/static/images/logos/gplus_51.png" style="margin-right:5px;margin-top:3px">
            </a>
        </p>
    </body>
</html>
