<html>
    <body>
        <h3>${user.displayName}</h3>
        <p>
            Klicken Sie <a href="https://www.podcastpedia.org/users/password-forgotten/confirmed?user=${user.username}&token=${user.passwordResetToken}">diesen Link</a> um Ihr Passwort neu zu setzen.
        </p>
    </body>
</html>
