<html>
    <body>
        <h3>Dear ${user.displayName}</h3>
        <p>
            Click this <a href="https://www.podcastpedia.org/users/password-forgotten/confirmed?user=${user.username}&token=${user.registrationToken}">link</a> to reset your password.
        </p>
    </body>
</html>
