<html>
    <body>
        <h3>Dear ${user.displayName}</h3>
        <p>
            Click this <a href="http://podcastpedia.org/users/registration/confirmed?user=${user.username}&token=${user.registrationToken}">link</a> to change your password.
        </p>
    </body>
</html>
