<html>
    <body>
        <h3>${user.displayName}</h3>
        <p>
            Cliquez sur <a href="https://www.podcastpedia.org/users/password-forgotten/confirmed?user=${user.username}&token=${user.registrationToken}">ce lien</a> pour réinitialiser votre mot de passe.
        </p>
    </body>
</html>
