<html>
    <body>
        <h3>Dear ${user.displayName}</h3>
        <p>
            Click this <a href="https://www.podcastpedia.org/users/password-forgotten/password-reset?username=${user.username}&passwordResetToken=${user.passwordResetToken}">link</a> to reset your password.
        </p>
    </body>
</html>
